[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
wheel = "*"
pylint = "*"
black = "*"
ptvsd = "*"

[packages]
pipenv = "*"
aioftp = "*"
"discord.py" = {extras = ["voice"],version = "*"}
pyttsx3 = "*"
python-dotenv = "*"
gtts = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
