[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
wheel = "*"
pylint = "*"
black = "*"
v = {editable = true,version = "*"}

[packages]
pipenv = "*"
aioftp = "*"
"discord.py" = {extras = ["voice"],version = "*"}

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
