[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
wheel = "*"
flake8 = "*"
ptvsd = "*"
pre-commit = "*"

[packages]
pipenv = "==2021.5.29"
aioftp = "*"
"discord.py" = {extras = ["voice"],version = "*"}
pyttsx3 = "*"
python-dotenv = "*"
gtts = "*"
asyncio-mqtt = "*"
pip = "==21.1.3"
certifi = "==2021.5.30"
update = "*"
aiohttp = ">=3.7.4"

[requires]
python_version = "3.9"
